@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?q5moxp');
  src:  url('../fonts/icomoon.eot?q5moxp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?q5moxp') format('truetype'),
    url('../fonts/icomoon.woff?q5moxp') format('woff'),
    url('../fonts/icomoon.svg?q5moxp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stopwatch:before {
  content: "\e952";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0d";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-html-five:before {
  content: "\eae4";
}


*{
	margin: 0;
	padding: 0;
}
body{
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;

	flex-direction: column;
	font-family: 'Open Sans', sans-serif;

	animation-name: aparecer;
	animation-duration: 2s;
	animation-iteration-count: 1;
}

.boton-menu{
	color: white;
	
	position: absolute;
	left: 0;
    top: 0;
	
	font-size: 2.2rem;
	padding: 20px;
	border-radius: 50%;
	transition: .3s;
	cursor: pointer;
	z-index: 3;
}
.boton-menu:hover{
	background: rgba(0,0,0,0.5);
}
.header .menu{
	background: rgba(202,163,62,.9);
	position: absolute;
	left: 0;
    top: 0;

	height: 100vh;
	width: 100vw;
	
	list-style: none;
	margin-left: -110%;
	transition: .3s;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 2;
}
.header .active{
	margin-left: 0;
}

.header .menu li{
	padding: 10px 30px;
	border-top: 2px solid white;
	text-align: center;
}
.header .menu li:first-child{
	border-top: 0;
}
.header .menu a{
	color: white;
	font-size: 2rem;
	text-decoration: none;
}

.pantalla{
	flex: 1;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-juego{
	max-width: 588px;
}
.contenedor-juego .juego{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.contenedor-juego .juego .tarjeta{
	height: 80px;
	width: 80px;
	margin: 5px;
	list-style: none;
	cursor: pointer;

	
	background: #69140E;
	border: 4px solid white;


	border-radius: 50%;
	transition: .5s;
	transform: rotateY(180deg);

	display: flex;
	justify-content: center;
	align-items: center;
}
.contenedor-juego .juego .tarjeta.activo{
	transform: rotateY(0deg);
}
.contenedor-juego .juego .tarjeta .icon{
	font-size: 25px;
	color: white;
	display: none;
	transition: .5s;
}

.contenedor-juego .juego .tarjeta .icon.activo{
	display: inline-block;
}
.footer{
	color: white;
	font-size: 0.8rem;
	text-align: center;
	margin-bottom: 15px;
}

@keyframes aparecer{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.franja{
	margin-top: 20px;
	height: 60px;
	width: 100%;


	display: flex;
	justify-content: center;
	align-items: center;

}
.franja .tiempo{
	font-size: 25px;
	color: white;
}

@media screen and (max-width: 587px){
	.contenedor-juego{
		width: 490px;
	}
}
@media screen and (max-width: 489px){
	.contenedor-juego{
		width: 367.5px;
	}
	.contenedor-juego .juego .tarjeta{
		height: 60px;
		width: 60px;
		margin: 3.75px;
		list-style: none;
		cursor: pointer;

		
		background: #69140E;
		border: 3px solid white;


		border-radius: 50%;
		transition: .5s;
		transform: rotateY(180deg);

		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (max-width: 367.4px){
	.contenedor-juego{
		width: 294px;
	}
	.contenedor-juego .juego .tarjeta{
		height: 60px;
		width: 60px;
		margin: 3.75px;
		border: 3px solid white;
	}
}

@media screen and (max-width: 294px){
	.contenedor-juego{
		width: 253px;
	}
	.contenedor-juego .juego .tarjeta{
		height: 45px;
		width: 45px;
		margin: 2.8px;
		border: 2.25px solid white;
	}
}
@media screen and (max-height: 600px){
	.pantalla{
		padding: 80px 0 0px 0;
	}
}